.map__container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
  position: relative;
}

.map {
  align-items: center;
  width: 50%;
  height: 60vh;
}
.controls {
  position: absolute;
  top: 10px;
  z-index: 2;
  padding: 10px;
  max-width: 250px;
}

.directions {
  position: absolute;
  bottom: 10px;
  background-image: url('../nevigate.svg');
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px;
  color: blue;
}
