%display-shared {
  display: flex;
  flex-direction: column;
}

.team-list__container {
  @extend %display-shared;
}

.team-list__list {
  @extend %display-shared;
  list-style: none;
  justify-content: space-between;
}

.team-list__item {
  @extend %display-shared;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: antiquewhite;
}

.team-list__image {
  height: 150px;
  max-width: 450px;
  align-self: center;
} 
.test{
  color-interpolation-filters: auto;
}
