<div class="team__list">
<div class="team-list__container">
  <ul class="team-list__list">
    <li
      class="team-list__item"
      *ngFor="let team of element.teamsArray; let indexOfArray = index"
    >
      <p>{{ team[0] }}</p>
      <img
        *ngIf="team[1] !== null"
        [src]="team[1]"
        alt="image"
        class="team-list__image"
      />
      <button
      class="team-list__button"
        type="button"
        (click)="addToFavorites(team)"
      >
        Add to favorites
      </button>
    </li>
  </ul>
</div>

