<h1>{{ title }}</h1>
<ul class="top-menu">
  <li class="item"><button class="top-menu__item" routerLink="/login">Sign-in</button></li>
  <li class="item"><button class="top-menu__item" routerLink="/home" (click)="onSignOut()">Sign-out</button></li>
</ul>
<hr />
<nav class="menu">
  <a class="menu__item" routerLink="/home">Home</a>
  <a class="menu__item" *ngIf="isLogged" routerLink="/leagues">Leagues</a>
  <a class="menu__item" *ngIf="isLogged" routerLink="/map">Map</a>
</nav>

<router-outlet></router-outlet>
