<div class="leagues-list__container">
  <h3> Favorites</h3>
  <div class="favorites">
<ul class="favorites__list" *ngFor="let fav of favoritesArray">
  <li (click)="onDelete(fav)" style="cursor: pointer;"> <img style="height: 100px;" [src]="fav" alt=""></li>
  <!-- <button type="button" >delete</button> -->
</ul>
</div>
  <h3 class="league-list__title">Choose a team:</h3>
  <ul class="leagues-list__list">
    <li>
      <button
        class="leagues-list__button"
        (click)="displayAllTeams(countryName)"
        *ngFor="let countryName of countryNames"
        style="cursor: pointer;"
      >
        {{ countryName }}
      </button>
    </li>
  </ul>
  <h1 *ngIf="isOpenModal">
    {{ selectedCountry }} Teams: ({{ teamsArray.length }})
  </h1>
  <app-team-list
    *ngIf="isOpenModal"
    [element]="{ isOpenBox: isOpenModal, teamsArray: teamsArray}"
  ></app-team-list>

